# CS 5228 - Team pandas


A0105650R - Wang Gejing 

A0198889R - Chen Ningshuang 

A0210996X - Zhang Hao

## Import libraries

In [1]:
# All Imports
from utils import *
import pandas as pd
import locale
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing

# model training
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

# model evaluation
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

# classifiers
from sklearn.naive_bayes import GaussianNB # naive bayes
from sklearn.neighbors import KNeighborsClassifier # KNN
from sklearn.linear_model import LogisticRegression # logistic regression
from sklearn.tree import DecisionTreeClassifier # decision Tree
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import GradientBoostingClassifier

# ignore warnings
import warnings
warnings.filterwarnings('ignore')
locale.setlocale(locale.LC_ALL,'')
pd.set_option('display.max_columns', None)

## Import training data

In [2]:
# Process Training Data
drop_columns = []

le = generate_labels()
base_dropna = get_data(le=le,type='train', dropna=True, get_dummy=True, feature_split=False, values_only=True,drop_columns=drop_columns)
base_fillna = get_data(le=le,type='train', dropna=False, get_dummy=True, feature_split=False, values_only=True,drop_columns=drop_columns)
feature_dropna = get_data(le=le,type='train', dropna=True, get_dummy=True, feature_split=True, values_only=True,drop_columns=drop_columns)
feature_fillna = get_data(le=le,type='train', dropna=False, get_dummy=True, feature_split=True, values_only=True,drop_columns=drop_columns)

## Training dataset Information

In [3]:
base_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49808 entries, 0 to 49999
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               49808 non-null  int64
 1   City               49808 non-null  int64
 2   State              49808 non-null  int64
 3   Zip                49808 non-null  int32
 4   Bank               49808 non-null  int64
 5   BankState          49808 non-null  int64
 6   NAICS              49808 non-null  int32
 7   ApprovalDate       49808 non-null  int64
 8   ApprovalFY         49808 non-null  int16
 9   Term               49808 non-null  int64
 10  NoEmp              49808 non-null  int64
 11  CreateJob          49808 non-null  int64
 12  RetainedJob        49808 non-null  int64
 13  FranchiseCode      49808 non-null  int32
 14  DisbursementDate   49808 non-null  int64
 15  DisbursementGross  49808 non-null  float32
 16  GrAppv             49808 non-null  float32
 17  SBA_Appv           49808 non-null  float32
 18  ChargeOff          49808 non-null  int64
 19  NewExist_1         49808 non-null  uint8
 20  NewExist_2         49808 non-null  uint8
 21  UrbanRural_0       49808 non-null  uint8
 22  UrbanRural_1       49808 non-null  uint8
 23  UrbanRural_2       49808 non-null  uint8
 24  RevLineCr_N        49808 non-null  uint8
 25  RevLineCr_Y        49808 non-null  uint8
 26  LowDoc_N           49808 non-null  uint8
 27  LowDoc_Y           49808 non-null  uint8
dtypes: float32(3), int16(1), int32(3), int64(12), uint8(9)
memory usage: 6.6 MB

In [4]:
base_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               50000 non-null  int64
 1   City               50000 non-null  int64
 2   State              50000 non-null  int64
 3   Zip                50000 non-null  int32
 4   Bank               50000 non-null  int64
 5   BankState          50000 non-null  int64
 6   NAICS              50000 non-null  int32
 7   ApprovalDate       50000 non-null  int64
 8   ApprovalFY         50000 non-null  int16
 9   Term               50000 non-null  int64
 10  NoEmp              50000 non-null  int64
 11  CreateJob          50000 non-null  int64
 12  RetainedJob        50000 non-null  int64
 13  FranchiseCode      50000 non-null  int32
 14  DisbursementDate   50000 non-null  int64
 15  DisbursementGross  50000 non-null  float32
 16  GrAppv             50000 non-null  float32
 17  SBA_Appv           50000 non-null  float32
 18  ChargeOff          50000 non-null  int64
 19  NewExist_1         50000 non-null  uint8
 20  NewExist_2         50000 non-null  uint8
 21  UrbanRural_0       50000 non-null  uint8
 22  UrbanRural_1       50000 non-null  uint8
 23  UrbanRural_2       50000 non-null  uint8
 24  RevLineCr_N        50000 non-null  uint8
 25  RevLineCr_Y        50000 non-null  uint8
 26  LowDoc_N           50000 non-null  uint8
 27  LowDoc_Y           50000 non-null  uint8
dtypes: float32(3), int16(1), int32(3), int64(12), uint8(9)
memory usage: 6.2 MB

In [5]:
feature_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49808 entries, 0 to 49999
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               49808 non-null  int64
 1   City               49808 non-null  int64
 2   State              49808 non-null  int64
 3   Zip                49808 non-null  int32
 4   Bank               49808 non-null  int64
 5   BankState          49808 non-null  int64
 6   NAICS              49808 non-null  int32
 7   ApprovalDate       49808 non-null  int64
 8   ApprovalFY         49808 non-null  int16
 9   CreateJob          49808 non-null  int64
 10  RetainedJob        49808 non-null  int64
 11  FranchiseCode      49808 non-null  int32
 12  DisbursementDate   49808 non-null  int64
 13  DisbursementGross  49808 non-null  float32
 14  GrAppv             49808 non-null  float32
 15  SBA_Appv           49808 non-null  float32
 16  ChargeOff          49808 non-null  int64
 17  NewExist_1         49808 non-null  uint8
 18  NewExist_2         49808 non-null  uint8
 19  UrbanRural_0       49808 non-null  uint8
 20  UrbanRural_1       49808 non-null  uint8
 21  UrbanRural_2       49808 non-null  uint8
 22  RevLineCr_N        49808 non-null  uint8
 23  RevLineCr_Y        49808 non-null  uint8
 24  LowDoc_N           49808 non-null  uint8
 25  LowDoc_Y           49808 non-null  uint8
 26  NoEmp_Micro        49808 non-null  uint8
 27  NoEmp_Small        49808 non-null  uint8
 28  NoEmp_Medium       49808 non-null  uint8
 29  NoEmp_Large        49808 non-null  uint8
 30  Term_Short         49808 non-null  uint8
 31  Term_Intermediate  49808 non-null  uint8
 32  Term_Long          49808 non-null  uint8
 33  Term_Extra Long    49808 non-null  uint8
dtypes: float32(3), int16(1), int32(3), int64(10), uint8(17)
memory usage: 6.2 MB

In [6]:
feature_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               50000 non-null  int64
 1   City               50000 non-null  int64
 2   State              50000 non-null  int64
 3   Zip                50000 non-null  int32
 4   Bank               50000 non-null  int64
 5   BankState          50000 non-null  int64
 6   NAICS              50000 non-null  int32
 7   ApprovalDate       50000 non-null  int64
 8   ApprovalFY         50000 non-null  int16
 9   CreateJob          50000 non-null  int64
 10  RetainedJob        50000 non-null  int64
 11  FranchiseCode      50000 non-null  int32
 12  DisbursementDate   50000 non-null  int64
 13  DisbursementGross  50000 non-null  float32
 14  GrAppv             50000 non-null  float32
 15  SBA_Appv           50000 non-null  float32
 16  ChargeOff          50000 non-null  int64
 17  NewExist_1         50000 non-null  uint8
 18  NewExist_2         50000 non-null  uint8
 19  UrbanRural_0       50000 non-null  uint8
 20  UrbanRural_1       50000 non-null  uint8
 21  UrbanRural_2       50000 non-null  uint8
 22  RevLineCr_N        50000 non-null  uint8
 23  RevLineCr_Y        50000 non-null  uint8
 24  LowDoc_N           50000 non-null  uint8
 25  LowDoc_Y           50000 non-null  uint8
 26  NoEmp_Micro        50000 non-null  uint8
 27  NoEmp_Small        50000 non-null  uint8
 28  NoEmp_Medium       50000 non-null  uint8
 29  NoEmp_Large        50000 non-null  uint8
 30  Term_Short         50000 non-null  uint8
 31  Term_Intermediate  50000 non-null  uint8
 32  Term_Long          50000 non-null  uint8
 33  Term_Extra Long    50000 non-null  uint8
dtypes: float32(3), int16(1), int32(3), int64(10), uint8(17)
memory usage: 5.9 MB

## Import test data

In [7]:
# Process Test Data
feature_test = get_data(le=le,type='test', dropna=False, get_dummy=True, feature_split=True, values_only=True,drop_columns=drop_columns)
base_test = get_data(le=le,type='test', dropna=False, get_dummy=True, feature_split=False, values_only=True,drop_columns=drop_columns)

## Test dataset information

In [8]:
feature_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Name               100000 non-null  int64
 1   City               100000 non-null  int64
 2   State              100000 non-null  int64
 3   Zip                100000 non-null  int32
 4   Bank               100000 non-null  int64
 5   BankState          100000 non-null  int64
 6   NAICS              100000 non-null  int32
 7   ApprovalDate       100000 non-null  int64
 8   ApprovalFY         100000 non-null  float64
 9   CreateJob          100000 non-null  int64
 10  RetainedJob        100000 non-null  int64
 11  FranchiseCode      100000 non-null  int32
 12  DisbursementDate   100000 non-null  int64
 13  DisbursementGross  100000 non-null  float32
 14  GrAppv             100000 non-null  float32
 15  SBA_Appv           100000 non-null  float32
 16  NewExist_1         100000 non-null  uint8
 17  NewExist_2         100000 non-null  uint8
 18  UrbanRural_0       100000 non-null  uint8
 19  UrbanRural_1       100000 non-null  uint8
 20  UrbanRural_2       100000 non-null  uint8
 21  RevLineCr_N        100000 non-null  uint8
 22  RevLineCr_Y        100000 non-null  uint8
 23  LowDoc_N           100000 non-null  uint8
 24  LowDoc_Y           100000 non-null  uint8
 25  NoEmp_Micro        100000 non-null  uint8
 26  NoEmp_Small        100000 non-null  uint8
 27  NoEmp_Medium       100000 non-null  uint8
 28  NoEmp_Large        100000 non-null  uint8
 29  Term_Short         100000 non-null  uint8
 30  Term_Intermediate  100000 non-null  uint8
 31  Term_Long          100000 non-null  uint8
 32  Term_Extra Long    100000 non-null  uint8
dtypes: float32(3), float64(1), int32(3), int64(9), uint8(17)
memory usage: 11.5 MB

In [9]:
base_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Name               100000 non-null  int64
 1   City               100000 non-null  int64
 2   State              100000 non-null  int64
 3   Zip                100000 non-null  int32
 4   Bank               100000 non-null  int64
 5   BankState          100000 non-null  int64
 6   NAICS              100000 non-null  int32
 7   ApprovalDate       100000 non-null  int64
 8   ApprovalFY         100000 non-null  float64
 9   Term               100000 non-null  int64
 10  NoEmp              100000 non-null  int64
 11  CreateJob          100000 non-null  int64
 12  RetainedJob        100000 non-null  int64
 13  FranchiseCode      100000 non-null  int32
 14  DisbursementDate   100000 non-null  int64
 15  DisbursementGross  100000 non-null  float32
 16  GrAppv             100000 non-null  float32
 17  SBA_Appv           100000 non-null  float32
 18  NewExist_1         100000 non-null  uint8
 19  NewExist_2         100000 non-null  uint8
 20  UrbanRural_0       100000 non-null  uint8
 21  UrbanRural_1       100000 non-null  uint8
 22  UrbanRural_2       100000 non-null  uint8
 23  RevLineCr_N        100000 non-null  uint8
 24  RevLineCr_Y        100000 non-null  uint8
 25  LowDoc_N           100000 non-null  uint8
 26  LowDoc_Y           100000 non-null  uint8
dtypes: float32(3), float64(1), int32(3), int64(11), uint8(9)
memory usage: 12.3 MB

## Data and model selection

In [10]:
model_names = ['KNN', 'LR', 'DT', 'RF', 'GBM']
base_dropna_f1 = []
base_dropna_acc = []
base_fillna_f1 = []
base_fillna_acc = []
feature_dropna_f1 = []
feature_dropna_acc = []
feature_fillna_f1 = []
feature_fillna_acc = []

def calculate_acc_and_f1(classifier, x_train, y_train, x_test, y_test):
    classifier.fit(x_train, y_train)
    y_pred = classifier.predict(x_test)
    f1 = round(f1_score(y_test, y_pred, average='weighted') * 100, 2)
    acc = round(accuracy_score(y_test, y_pred) * 100, 2)
    return f1, acc

    
def train_single_classifier(classifier, df_in, f1_list, acc_list):
    df_x = df_in.drop(columns='ChargeOff')
    df_y = df_in['ChargeOff']
    x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.25, random_state=0)
    f1, acc = calculate_acc_and_f1(classifier, x_train, y_train, x_test, y_test)
    f1_list.append(f1)
    acc_list.append(acc)
    

def train_model(df_in, f1_list, acc_list):
    train_single_classifier(KNeighborsClassifier(), df_in, f1_list, acc_list)
    train_single_classifier(LogisticRegression(), df_in, f1_list, acc_list)
    train_single_classifier(DecisionTreeClassifier(), df_in, f1_list, acc_list)
    train_single_classifier(RandomForestClassifier(), df_in, f1_list, acc_list)
    train_single_classifier(GradientBoostingClassifier(), df_in, f1_list, acc_list)
    

train_model(base_dropna, base_dropna_f1, base_dropna_acc)
train_model(base_fillna, base_fillna_f1, base_fillna_acc)
train_model(feature_dropna, feature_dropna_f1, feature_dropna_acc)
train_model(feature_fillna, feature_fillna_f1, feature_fillna_acc)

In [11]:
accuracy_record = pd.DataFrame({'Model': model_names, 'base_dropna_acc': base_dropna_acc, 'base_fillna_acc': base_fillna_acc, 'feature_dropna_acc': feature_dropna_acc, 'feature_fillna_acc': feature_fillna_acc})
# accuracy_record = pd.DataFrame({'Model': model_names, 'base_dropna_acc': base_dropna_acc, 'feature_dropna_acc': feature_dropna_acc})
accuracy_record['acc_mean'] = accuracy_record.mean(axis=1).round(2)
accuracy_record.set_index('Model', inplace=True)
accuracy_record.loc['avg'] = accuracy_record.mean()

F1_record = pd.DataFrame({'Model': model_names, 'base_dropna_f1': base_dropna_f1, 'base_fillna_f1': base_fillna_f1, 'feature_dropna_f1': feature_dropna_f1, 'feature_fillna_f1': feature_fillna_f1})
# F1_record = pd.DataFrame({'Model': model_names, 'base_dropna_f1': base_dropna_f1, 'feature_dropna_f1': feature_dropna_f1})
F1_record['F1_mean'] = F1_record.mean(axis=1).round(2)
F1_record.set_index('Model', inplace=True)
F1_record.loc['avg'] = F1_record.mean()

print(accuracy_record)
print('\n')
print(F1_record)

       base_dropna_acc  base_fillna_acc  feature_dropna_acc  \
Model
KNN             68.500           68.460               68.50
LR              63.760           61.220               63.75
DT              87.770           87.520               71.43
RF              90.160           89.620               79.34
GBM             90.100           89.590               77.68
avg             80.058           79.282               72.14

       feature_fillna_acc  acc_mean
Model
KNN                68.460    68.480
LR                 61.220    62.490
DT                 71.900    79.660
RF                 79.190    84.580
GBM                77.870    83.810
avg                71.728    75.804


       base_dropna_f1  base_fillna_f1  feature_dropna_f1  feature_fillna_f1  \
Model
KNN             68.49          68.460             68.490             68.460
LR              63.03          59.950             63.010             59.950
DT              87.77          87.520             71.440             71.900
RF              90.16          89.610             79.320             79.160
GBM             90.10          89.590             77.680             77.860
avg             79.91          79.026             71.988             71.466

       F1_mean
Model
KNN     68.470
LR      61.480
DT      79.660
RF      84.560
GBM     83.810
avg     75.596

## Drop columns

In [12]:
# Process Training Data
drop_columns = ['CreateJob','RetainedJob','City','Name','Zip','BankState']

base_dropna = get_data(le=le,type='train', dropna=True, get_dummy=True, feature_split=False, values_only=True,drop_columns=drop_columns)
base_fillna = get_data(le=le,type='train', dropna=False, get_dummy=True, feature_split=False, values_only=True,drop_columns=drop_columns)
feature_dropna = get_data(le=le,type='train', dropna=True, get_dummy=True, feature_split=True, values_only=True,drop_columns=drop_columns)
feature_fillna = get_data(le=le,type='train', dropna=False, get_dummy=True, feature_split=True, values_only=True,drop_columns=drop_columns)

## Training dataset Information

In [13]:
base_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49808 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              49808 non-null  int64
 1   Bank               49808 non-null  int64
 2   NAICS              49808 non-null  int32
 3   ApprovalDate       49808 non-null  int64
 4   ApprovalFY         49808 non-null  int16
 5   Term               49808 non-null  int64
 6   NoEmp              49808 non-null  int64
 7   FranchiseCode      49808 non-null  int32
 8   DisbursementDate   49808 non-null  int64
 9   DisbursementGross  49808 non-null  float32
 10  GrAppv             49808 non-null  float32
 11  SBA_Appv           49808 non-null  float32
 12  ChargeOff          49808 non-null  int64
 13  NewExist_1         49808 non-null  uint8
 14  NewExist_2         49808 non-null  uint8
 15  UrbanRural_0       49808 non-null  uint8
 16  UrbanRural_1       49808 non-null  uint8
 17  UrbanRural_2       49808 non-null  uint8
 18  RevLineCr_N        49808 non-null  uint8
 19  RevLineCr_Y        49808 non-null  uint8
 20  LowDoc_N           49808 non-null  uint8
 21  LowDoc_Y           49808 non-null  uint8
dtypes: float32(3), int16(1), int32(2), int64(7), uint8(9)
memory usage: 4.5 MB

In [14]:
base_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              50000 non-null  int64
 1   Bank               50000 non-null  int64
 2   NAICS              50000 non-null  int32
 3   ApprovalDate       50000 non-null  int64
 4   ApprovalFY         50000 non-null  int16
 5   Term               50000 non-null  int64
 6   NoEmp              50000 non-null  int64
 7   FranchiseCode      50000 non-null  int32
 8   DisbursementDate   50000 non-null  int64
 9   DisbursementGross  50000 non-null  float32
 10  GrAppv             50000 non-null  float32
 11  SBA_Appv           50000 non-null  float32
 12  ChargeOff          50000 non-null  int64
 13  NewExist_1         50000 non-null  uint8
 14  NewExist_2         50000 non-null  uint8
 15  UrbanRural_0       50000 non-null  uint8
 16  UrbanRural_1       50000 non-null  uint8
 17  UrbanRural_2       50000 non-null  uint8
 18  RevLineCr_N        50000 non-null  uint8
 19  RevLineCr_Y        50000 non-null  uint8
 20  LowDoc_N           50000 non-null  uint8
 21  LowDoc_Y           50000 non-null  uint8
dtypes: float32(3), int16(1), int32(2), int64(7), uint8(9)
memory usage: 4.1 MB

In [15]:
feature_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49808 entries, 0 to 49999
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              49808 non-null  int64
 1   Bank               49808 non-null  int64
 2   NAICS              49808 non-null  int32
 3   ApprovalDate       49808 non-null  int64
 4   ApprovalFY         49808 non-null  int16
 5   FranchiseCode      49808 non-null  int32
 6   DisbursementDate   49808 non-null  int64
 7   DisbursementGross  49808 non-null  float32
 8   GrAppv             49808 non-null  float32
 9   SBA_Appv           49808 non-null  float32
 10  ChargeOff          49808 non-null  int64
 11  NewExist_1         49808 non-null  uint8
 12  NewExist_2         49808 non-null  uint8
 13  UrbanRural_0       49808 non-null  uint8
 14  UrbanRural_1       49808 non-null  uint8
 15  UrbanRural_2       49808 non-null  uint8
 16  RevLineCr_N        49808 non-null  uint8
 17  RevLineCr_Y        49808 non-null  uint8
 18  LowDoc_N           49808 non-null  uint8
 19  LowDoc_Y           49808 non-null  uint8
 20  NoEmp_Micro        49808 non-null  uint8
 21  NoEmp_Small        49808 non-null  uint8
 22  NoEmp_Medium       49808 non-null  uint8
 23  NoEmp_Large        49808 non-null  uint8
 24  Term_Short         49808 non-null  uint8
 25  Term_Intermediate  49808 non-null  uint8
 26  Term_Long          49808 non-null  uint8
 27  Term_Extra Long    49808 non-null  uint8
dtypes: float32(3), int16(1), int32(2), int64(5), uint8(17)
memory usage: 4.1 MB

In [16]:
feature_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              50000 non-null  int64
 1   Bank               50000 non-null  int64
 2   NAICS              50000 non-null  int32
 3   ApprovalDate       50000 non-null  int64
 4   ApprovalFY         50000 non-null  int16
 5   FranchiseCode      50000 non-null  int32
 6   DisbursementDate   50000 non-null  int64
 7   DisbursementGross  50000 non-null  float32
 8   GrAppv             50000 non-null  float32
 9   SBA_Appv           50000 non-null  float32
 10  ChargeOff          50000 non-null  int64
 11  NewExist_1         50000 non-null  uint8
 12  NewExist_2         50000 non-null  uint8
 13  UrbanRural_0       50000 non-null  uint8
 14  UrbanRural_1       50000 non-null  uint8
 15  UrbanRural_2       50000 non-null  uint8
 16  RevLineCr_N        50000 non-null  uint8
 17  RevLineCr_Y        50000 non-null  uint8
 18  LowDoc_N           50000 non-null  uint8
 19  LowDoc_Y           50000 non-null  uint8
 20  NoEmp_Micro        50000 non-null  uint8
 21  NoEmp_Small        50000 non-null  uint8
 22  NoEmp_Medium       50000 non-null  uint8
 23  NoEmp_Large        50000 non-null  uint8
 24  Term_Short         50000 non-null  uint8
 25  Term_Intermediate  50000 non-null  uint8
 26  Term_Long          50000 non-null  uint8
 27  Term_Extra Long    50000 non-null  uint8
dtypes: float32(3), int16(1), int32(2), int64(5), uint8(17)
memory usage: 3.8 MB

## Import test data

In [17]:
# Process Test Data
feature_test = get_data(le=le,type='test', dropna=False, get_dummy=True, feature_split=True, values_only=True,drop_columns=drop_columns)
base_test = get_data(le=le,type='test', dropna=False, get_dummy=True, feature_split=False, values_only=True,drop_columns=drop_columns)

## Test dataset information

In [18]:
feature_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   State              100000 non-null  int64
 1   Bank               100000 non-null  int64
 2   NAICS              100000 non-null  int32
 3   ApprovalDate       100000 non-null  int64
 4   ApprovalFY         100000 non-null  float64
 5   FranchiseCode      100000 non-null  int32
 6   DisbursementDate   100000 non-null  int64
 7   DisbursementGross  100000 non-null  float32
 8   GrAppv             100000 non-null  float32
 9   SBA_Appv           100000 non-null  float32
 10  NewExist_1         100000 non-null  uint8
 11  NewExist_2         100000 non-null  uint8
 12  UrbanRural_0       100000 non-null  uint8
 13  UrbanRural_1       100000 non-null  uint8
 14  UrbanRural_2       100000 non-null  uint8
 15  RevLineCr_N        100000 non-null  uint8
 16  RevLineCr_Y        100000 non-null  uint8
 17  LowDoc_N           100000 non-null  uint8
 18  LowDoc_Y           100000 non-null  uint8
 19  NoEmp_Micro        100000 non-null  uint8
 20  NoEmp_Small        100000 non-null  uint8
 21  NoEmp_Medium       100000 non-null  uint8
 22  NoEmp_Large        100000 non-null  uint8
 23  Term_Short         100000 non-null  uint8
 24  Term_Intermediate  100000 non-null  uint8
 25  Term_Long          100000 non-null  uint8
 26  Term_Extra Long    100000 non-null  uint8
dtypes: float32(3), float64(1), int32(2), int64(4), uint8(17)
memory usage: 7.3 MB

In [19]:
base_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   State              100000 non-null  int64
 1   Bank               100000 non-null  int64
 2   NAICS              100000 non-null  int32
 3   ApprovalDate       100000 non-null  int64
 4   ApprovalFY         100000 non-null  float64
 5   Term               100000 non-null  int64
 6   NoEmp              100000 non-null  int64
 7   FranchiseCode      100000 non-null  int32
 8   DisbursementDate   100000 non-null  int64
 9   DisbursementGross  100000 non-null  float32
 10  GrAppv             100000 non-null  float32
 11  SBA_Appv           100000 non-null  float32
 12  NewExist_1         100000 non-null  uint8
 13  NewExist_2         100000 non-null  uint8
 14  UrbanRural_0       100000 non-null  uint8
 15  UrbanRural_1       100000 non-null  uint8
 16  UrbanRural_2       100000 non-null  uint8
 17  RevLineCr_N        100000 non-null  uint8
 18  RevLineCr_Y        100000 non-null  uint8
 19  LowDoc_N           100000 non-null  uint8
 20  LowDoc_Y           100000 non-null  uint8
dtypes: float32(3), float64(1), int32(2), int64(6), uint8(9)
memory usage: 8.1 MB

## Data and model selection

In [20]:
model_names = ['KNN', 'LR', 'DT', 'RF', 'GBM']
base_dropna_f1 = []
base_dropna_acc = []
base_fillna_f1 = []
base_fillna_acc = []
feature_dropna_f1 = []
feature_dropna_acc = []
feature_fillna_f1 = []
feature_fillna_acc = []

def calculate_acc_and_f1(classifier, x_train, y_train, x_test, y_test):
    classifier.fit(x_train, y_train)
    y_pred = classifier.predict(x_test)
    f1 = round(f1_score(y_test, y_pred, average='weighted') * 100, 2)
    acc = round(accuracy_score(y_test, y_pred) * 100, 2)
    return f1, acc

    
def train_single_classifier(classifier, df_in, f1_list, acc_list):
    df_x = df_in.drop(columns='ChargeOff')
    df_y = df_in['ChargeOff']
    x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.25, random_state=0)
    f1, acc = calculate_acc_and_f1(classifier, x_train, y_train, x_test, y_test)
    f1_list.append(f1)
    acc_list.append(acc)
    

def train_model(df_in, f1_list, acc_list):
    train_single_classifier(KNeighborsClassifier(), df_in, f1_list, acc_list)
    train_single_classifier(LogisticRegression(), df_in, f1_list, acc_list)
    train_single_classifier(DecisionTreeClassifier(), df_in, f1_list, acc_list)
    train_single_classifier(RandomForestClassifier(), df_in, f1_list, acc_list)
    train_single_classifier(GradientBoostingClassifier(), df_in, f1_list, acc_list)
    

train_model(base_dropna, base_dropna_f1, base_dropna_acc)
train_model(base_fillna, base_fillna_f1, base_fillna_acc)
train_model(feature_dropna, feature_dropna_f1, feature_dropna_acc)
train_model(feature_fillna, feature_fillna_f1, feature_fillna_acc)

In [21]:
accuracy_record = pd.DataFrame({'Model': model_names, 'base_dropna_acc': base_dropna_acc, 'base_fillna_acc': base_fillna_acc, 'feature_dropna_acc': feature_dropna_acc, 'feature_fillna_acc': feature_fillna_acc})
# accuracy_record = pd.DataFrame({'Model': model_names, 'base_dropna_acc': base_dropna_acc, 'feature_dropna_acc': feature_dropna_acc})
accuracy_record['acc_mean'] = accuracy_record.mean(axis=1).round(2)
accuracy_record.set_index('Model', inplace=True)
accuracy_record.loc['avg'] = accuracy_record.mean()

F1_record = pd.DataFrame({'Model': model_names, 'base_dropna_f1': base_dropna_f1, 'base_fillna_f1': base_fillna_f1, 'feature_dropna_f1': feature_dropna_f1, 'feature_fillna_f1': feature_fillna_f1})
# F1_record = pd.DataFrame({'Model': model_names, 'base_dropna_f1': base_dropna_f1, 'feature_dropna_f1': feature_dropna_f1})
F1_record['F1_mean'] = F1_record.mean(axis=1).round(2)
F1_record.set_index('Model', inplace=True)
F1_record.loc['avg'] = F1_record.mean()

print(accuracy_record)
print('\n')
print(F1_record)

       base_dropna_acc  base_fillna_acc  feature_dropna_acc  \
Model
KNN             68.360           68.420              68.360
LR              63.280           61.180              63.280
DT              88.330           87.920              71.320
RF              89.920           89.700              78.400
GBM             90.090           89.820              77.710
avg             79.996           79.408              71.814

       feature_fillna_acc  acc_mean
Model
KNN                 68.42     68.39
LR                  61.18     62.23
DT                  71.10     79.67
RF                  78.18     84.05
GBM                 77.42     83.76
avg                 71.26     75.62


       base_dropna_f1  base_fillna_f1  feature_dropna_f1  feature_fillna_f1  \
Model
KNN            68.360           68.42              68.36             68.420
LR             62.380           59.90              62.38             59.900
DT             88.330           87.92              71.32             71.100
RF             89.920           89.69              78.38             78.150
GBM            90.090           89.82              77.71             77.410
avg            79.816           79.15              71.63             70.996

       F1_mean
Model
KNN      68.39
LR       61.14
DT       79.67
RF       84.04
GBM      83.76
avg      75.40